<style>
    span {
        font-weight: bold;
    }
    p{
        margin:0;
    }
</style>

<h1 class="text-center">INFO</h1>
<div class="container">
    <div class="alert alert-info" role="alert">
        <p><span>Argumentos de Entrada: </span>{{info.args}}</p>
    </div>
    <div class="alert alert-info" role="alert">
        <p><span>Sistema Operativo: </span>{{info.sistOperativo}}</p>
    </div>
    <div class="alert alert-info" role="alert">
        <p><span>Version de Node js: </span>{{info.versionNode}}</p>
    </div>
    <div class="alert alert-info" role="alert">
        <p><span>Memoria Total Reservada: </span>{{info.memoriaTotal}}</p>
    </div>
    <div class="alert alert-info" role="alert">
        <p><span>Path de Ejecucion: </span>{{info.path}}</p>
    </div>
    <div class="alert alert-info" role="alert">
        <p><span>Process id: </span>{{info.processId}}</p>
    </div>
    <div class="alert alert-info" role="alert">
        <p><span>Carpeta del Proyecto: </span>{{info.carpetaProyecto}}</p>
    </div>
        <div class="alert alert-info" role="alert">
        <p><span>Cantidad de Procesadores </span>{{info.numCPUs}}</p>
    </div>
</div>